In [1]:
import tensorflow as tf

Init Plugin
Init Graph Optimizer
Init Kernel

In [2]:
print(tf.__version__)

2.5.0

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("/Users/nikhil/Downloads/Churn_Modelling/Churn_Modelling.csv")

In [5]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
X = data.drop(columns=['Exited','CustomerId','Surname',])

In [7]:
X.head()

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,619,France,Female,42,2,0.00,1,1,1,101348.88
1,2,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,3,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,4,699,France,Female,39,1,0.00,2,0,0,93826.63
4,5,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [8]:
y = data['Exited']

In [9]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [10]:
## Feature Engineering

In [11]:
geo = pd.get_dummies(X['Geography'],drop_first=True)
gen = pd.get_dummies(X['Gender'],drop_first=True)

In [12]:
X = pd.concat([X,geo,gen],axis=1)

In [13]:
X

,RowNumber,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,1,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,2,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,3,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,4,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,5,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,9997,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,9998,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,9999,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,10000,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [14]:
X.drop(columns=['Geography','Gender'],inplace=True)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=42)

In [17]:
X_train.shape

(7000, 12)

In [18]:
X_test.shape

(3000, 12)

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
trf = StandardScaler()

In [21]:
X_train = trf.fit_transform(X_train)

In [22]:
X_test = trf.transform(X_test)

In [23]:
X_train.shape

(7000, 12)

In [24]:
# Lets create an ANN network
# tensorflow :opensource(Google(Deepmind)) : < 2.0 tensorflow seperate ,keras wrapper :  > 2.0 keras and temsorflow gets integrated.

In [25]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU,ReLU,ELU,PReLU
from tensorflow.keras.layers import Dropout

In [26]:
## Initialize the ANN

In [27]:
clf = Sequential()

Metal device set to: Apple M1

2022-05-06 00:59:23.705813: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-05-06 00:59:23.705913: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [28]:
clf.add(Dense(units=11,activation='relu'))

In [29]:
## adding first hidden layer

In [30]:
clf.add(Dense(units=7,activation='relu'))

In [31]:
clf.add(Dense(units=6,activation='relu'))

In [32]:
clf.add(Dense(units=1,activation='sigmoid'))

In [33]:
clf.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [34]:
import tensorflow

In [35]:
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [36]:
#model_his = clf.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=1000)

In [37]:
# Early stopping : when the accuracy not increasing , automatically traning stopped

In [38]:
import tensorflow as tf

In [39]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)

In [40]:
model_his = clf.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=1000,callbacks=early_stopping)

Epoch 1/1000

2022-05-06 00:59:23.796438: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:176] None of the MLIR Optimization Passes are enabled (registered 2)
2022-05-06 00:59:23.796603: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2022-05-06 00:59:23.991309: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

469/469 [==============================] - ETA: 0s - loss: 0.5306 - accuracy: 0.7573

2022-05-06 00:59:26.644862: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

469/469 [==============================] - 3s 7ms/step - loss: 0.5306 - accuracy: 0.7573 - val_loss: 0.4658 - val_accuracy: 0.7893
Epoch 2/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.4442 - accuracy: 0.7940 - val_loss: 0.4430 - val_accuracy: 0.7893
Epoch 3/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.4264 - accuracy: 0.7940 - val_loss: 0.4339 - val_accuracy: 0.7893
Epoch 4/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.4147 - accuracy: 0.7940 - val_loss: 0.4290 - val_accuracy: 0.7893
Epoch 5/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.4063 - accuracy: 0.7940 - val_loss: 0.4234 - val_accuracy: 0.7893
Epoch 6/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3980 - accuracy: 0.8004 - val_loss: 0.4154 - val_accuracy: 0.8118
Epoch 7/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3904 - accuracy: 0.8224 - val_loss: 0.4090 - val_accuracy: 0.8170
Epoch 8/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3831 - accuracy: 0.8228 - val_loss: 0.4060 - val_accuracy: 0.8152
Epoch 9/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3769 - accuracy: 0.8345 - val_loss: 0.4020 - val_accuracy: 0.8312
Epoch 10/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3733 - accuracy: 0.8420 - val_loss: 0.4007 - val_accuracy: 0.8295
Epoch 11/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3698 - accuracy: 0.8450 - val_loss: 0.3977 - val_accuracy: 0.8325
Epoch 12/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3665 - accuracy: 0.8475 - val_loss: 0.4004 - val_accuracy: 0.8334
Epoch 13/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3632 - accuracy: 0.8514 - val_loss: 0.3943 - val_accuracy: 0.8351
Epoch 14/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3610 - accuracy: 0.8543 - val_loss: 0.3906 - val_accuracy: 0.8364
Epoch 15/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3584 - accuracy: 0.8511 - val_loss: 0.3917 - val_accuracy: 0.8399
Epoch 16/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3558 - accuracy: 0.8552 - val_loss: 0.3883 - val_accuracy: 0.8351
Epoch 17/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3531 - accuracy: 0.8550 - val_loss: 0.3877 - val_accuracy: 0.8390
Epoch 18/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3515 - accuracy: 0.8610 - val_loss: 0.3847 - val_accuracy: 0.8377
Epoch 19/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3490 - accuracy: 0.8616 - val_loss: 0.3831 - val_accuracy: 0.8395
Epoch 20/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3466 - accuracy: 0.8590 - val_loss: 0.3833 - val_accuracy: 0.8377
Epoch 21/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3451 - accuracy: 0.8622 - val_loss: 0.3842 - val_accuracy: 0.8464
Epoch 22/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3428 - accuracy: 0.8610 - val_loss: 0.3799 - val_accuracy: 0.8382
Epoch 23/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3422 - accuracy: 0.8639 - val_loss: 0.3788 - val_accuracy: 0.8412
Epoch 24/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3405 - accuracy: 0.8654 - val_loss: 0.3803 - val_accuracy: 0.8390
Epoch 25/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3393 - accuracy: 0.8656 - val_loss: 0.3827 - val_accuracy: 0.8434
Epoch 26/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3387 - accuracy: 0.8642 - val_loss: 0.3769 - val_accuracy: 0.8403
Epoch 27/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3374 - accuracy: 0.8639 - val_loss: 0.3773 - val_accuracy: 0.8429
Epoch 28/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3361 - accuracy: 0.8661 - val_loss: 0.3757 - val_accuracy: 0.8412
Epoch 29/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3349 - accuracy: 0.8644 - val_loss: 0.3790 - val_accuracy: 0.8390
Epoch 30/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3346 - accuracy: 0.8671 - val_loss: 0.3755 - val_accuracy: 0.8429
Epoch 31/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3339 - accuracy: 0.8667 - val_loss: 0.3741 - val_accuracy: 0.8403
Epoch 32/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3322 - accuracy: 0.8620 - val_loss: 0.3828 - val_accuracy: 0.8460
Epoch 33/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3316 - accuracy: 0.8648 - val_loss: 0.3771 - val_accuracy: 0.8438
Epoch 34/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3311 - accuracy: 0.8659 - val_loss: 0.3746 - val_accuracy: 0.8399
Epoch 35/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3308 - accuracy: 0.8671 - val_loss: 0.3746 - val_accuracy: 0.8395
Epoch 36/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3300 - accuracy: 0.8691 - val_loss: 0.3736 - val_accuracy: 0.8360
Epoch 37/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3281 - accuracy: 0.8682 - val_loss: 0.3787 - val_accuracy: 0.8425
Epoch 38/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3283 - accuracy: 0.8680 - val_loss: 0.3772 - val_accuracy: 0.8412
Epoch 39/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3279 - accuracy: 0.8682 - val_loss: 0.3800 - val_accuracy: 0.8438
Epoch 40/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3284 - accuracy: 0.8686 - val_loss: 0.3792 - val_accuracy: 0.8416
Epoch 41/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3266 - accuracy: 0.8678 - val_loss: 0.3760 - val_accuracy: 0.8434
Epoch 42/1000
469/469 [==============================] - 3s 7ms/step - loss: 0.3261 - accuracy: 0.8678 - val_loss: 0.3771 - val_accuracy: 0.8416
Epoch 43/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3255 - accuracy: 0.8688 - val_loss: 0.3763 - val_accuracy: 0.8421
Epoch 44/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3245 - accuracy: 0.8684 - val_loss: 0.3762 - val_accuracy: 0.8408
Epoch 45/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3253 - accuracy: 0.8669 - val_loss: 0.3743 - val_accuracy: 0.8390
Epoch 46/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3252 - accuracy: 0.8691 - val_loss: 0.3745 - val_accuracy: 0.8416
Epoch 47/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3239 - accuracy: 0.8688 - val_loss: 0.3767 - val_accuracy: 0.8434
Epoch 48/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3239 - accuracy: 0.8710 - val_loss: 0.3741 - val_accuracy: 0.8386
Epoch 49/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3232 - accuracy: 0.8708 - val_loss: 0.3751 - val_accuracy: 0.8382
Epoch 50/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3226 - accuracy: 0.8684 - val_loss: 0.3760 - val_accuracy: 0.8408
Epoch 51/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3220 - accuracy: 0.8686 - val_loss: 0.3759 - val_accuracy: 0.8399
Epoch 52/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3216 - accuracy: 0.8699 - val_loss: 0.3755 - val_accuracy: 0.8377
Epoch 53/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3204 - accuracy: 0.8688 - val_loss: 0.3827 - val_accuracy: 0.8438
Epoch 54/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3230 - accuracy: 0.8684 - val_loss: 0.3771 - val_accuracy: 0.8395
Epoch 55/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3208 - accuracy: 0.8693 - val_loss: 0.3794 - val_accuracy: 0.8360
Epoch 56/1000
469/469 [==============================] - 3s 6ms/step - loss: 0.3203 - accuracy: 0.8682 - val_loss: 0.3762 - val_accuracy: 0.8377
Epoch 00056: early stopping

In [41]:
model_his.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [42]:
y_pred = clf.predict(X_test)

2022-05-06 01:01:59.345696: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

In [43]:
y_pred = (y_pred >0.5)

In [44]:
from sklearn.metrics import confusion_matrix

In [45]:
cm = confusion_matrix(y_test,y_pred)

In [46]:
cm

array([[2291,  125],
       [ 285,  299]])

In [47]:
# get the weights

In [48]:
clf.get_weights()

[array([[ 0.32443878, -0.30458173, -0.32151675, -0.26925027,  0.05296366,
          0.06215893, -0.04328356, -0.17390577,  0.30192   ,  0.09706915,
         -0.14966293],
        [ 0.23408572,  0.26840648,  0.13963269,  0.12004957, -0.20178267,
          0.38929555, -0.03272981, -0.13537998, -0.11682396,  0.13999923,
          0.4316206 ],
        [-0.45395336, -0.3321059 , -0.21276173, -0.4148757 , -0.02397999,
          0.59771395,  0.14151569, -0.7843834 , -0.74034137,  0.01548396,
         -0.7390142 ],
        [-0.06326623,  0.03788419, -0.13337041, -0.01799878, -0.18724255,
          0.03539396, -0.12134453, -0.26169807,  0.08513755,  0.00702944,
         -0.21265568],
        [ 0.07028794,  0.08562414, -0.5873158 , -0.22603366, -0.44170904,
         -0.3015591 ,  0.4730142 , -0.14766379,  0.04858366, -0.226203  ,
         -0.02366889],
        [-0.0987844 , -0.20680109, -0.20663244, -1.0745455 , -0.99345034,
         -0.10577279,  0.9689682 ,  0.07653816, -0.01600772, -1.0014474 ,
          0.44952253],
        [-0.31074384,  0.59020823,  0.11579924,  0.5911316 , -0.11768077,
         -0.07839633,  0.03068324, -0.17097065, -0.02605059, -0.22808819,
          0.31686017],
        [-0.7618406 ,  0.20282534,  0.27836305,  0.28103608,  0.07658136,
          0.59159076, -0.25261542,  0.10410746, -0.22286308, -0.67536485,
          0.22847305],
        [-0.20836136,  0.06773403,  0.09057298,  0.32279128, -0.18070036,
          0.0318265 , -0.09391385, -0.35209855,  0.09472719, -0.08155748,
          0.1966831 ],
        [-0.37389705, -0.6480464 ,  0.16716658,  0.27029723,  0.009039  ,
          0.0636982 , -0.5241107 , -0.20274164,  0.29619047,  0.28146324,
          0.49739617],
        [-0.6303861 , -0.3664965 , -0.32179317,  0.22630052,  0.07561546,
         -0.44761568, -0.17547469,  0.33449998,  0.41808757, -0.1402144 ,
          0.36677152],
        [-0.03999455, -0.1554724 ,  0.45273885, -0.4172865 ,  0.48584262,
          0.2694309 , -0.06113821,  0.17631613,  0.14878945,  0.01424994,
         -0.3962654 ]], dtype=float32),
 array([ 0.32488558,  0.7355061 ,  0.5826721 , -0.22546516, -0.41171914,
        -0.05259805, -0.12469482,  0.5878783 ,  0.7924259 ,  0.13809517,
         0.09487025], dtype=float32),
 array([[ 0.4159822 ,  0.13698798, -0.5192816 , -0.6637342 ,  0.18426631,
          0.3555939 ,  0.71123236],
        [-0.39389002,  0.7440454 ,  0.4126654 , -0.16381961,  0.4986582 ,
         -0.16910423,  0.06628993],
        [ 0.13313712,  0.13281822,  0.12547278, -0.22196794, -0.17358704,
         -0.24013738,  0.58717847],
        [ 0.3238925 , -0.7122172 , -0.16614898, -0.21457203,  0.13170479,
         -0.9052885 ,  0.56070036],
        [ 0.32298276, -0.7765807 , -0.20184587, -0.16555256, -0.14789118,
          0.25732952, -0.25630793],
        [-0.98834664, -0.12229637, -0.00401925,  0.5502212 ,  0.03206488,
          0.72298306, -0.2748937 ],
        [-0.7620472 , -0.643364  , -0.18720974, -0.27476704, -0.3658375 ,
         -0.5760424 , -0.8296068 ],
        [ 0.07663022,  0.17096233,  0.09198013,  0.5634589 , -0.16707288,
          0.29877853,  0.02429235],
        [ 0.22311446,  0.21446101, -0.9038013 , -0.01066791,  0.07115003,
          0.36991435,  0.23169863],
        [-1.1445488 , -0.44665557,  0.72610587, -0.47226855,  0.49102458,
         -0.18102197, -0.01860353],
        [-0.4862454 , -0.1311409 , -0.83129805, -1.261133  , -0.11465582,
         -0.5395901 ,  0.13767311]], dtype=float32),
 array([-0.15005858,  0.9531003 ,  0.1857797 ,  0.15451784, -0.11710113,
         0.26539543,  0.76811504], dtype=float32),
 array([[ 0.6158507 , -0.31997433, -0.6845429 ,  0.6668674 , -0.32898638,
          0.55279136],
        [ 0.39075342, -0.5248228 ,  1.276318  ,  0.57649446,  0.48090452,
          0.44015005],
        [-2.8082862 ,  0.11721306, -0.8403143 , -0.20028389, -1.6578758 ,
         -3.7802444 ],
        [-0.5315582 , -0.44991404,  0.805727  ,  1.0717022 , -0.48035422,
         -1.719322  ],
        [-0.5608638 , -0.08584748, -0.8271513 ,  0.16382268, -0.3666067 ,
          0.06251942],
        [-0.16219285, -0.10884523,  0.3844745 ,  0.3218754 ,  0.04430437,
          0.14615904],
        [ 0.0198365 , -0.20994759,  0.76349133, -0.7027697 ,  0.67484444,
          0.2812864 ]], dtype=float32),
 array([-4.8954767e-01, -9.1689765e-02, -3.4705929e-03, -1.5144204e-05,
        -1.1012532e-03, -6.9994390e-01], dtype=float32),
 array([[ 1.7105327 ],
        [-0.34262094],
        [-1.3146973 ],
        [-1.5691022 ],
        [-0.59115744],
        [ 1.4622899 ]], dtype=float32),
 array([1.6825587], dtype=float32)]